<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">User List</h1>
        <a href="javascript:;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#addUser">
            <i class="fas fa-plus fa-sm text-white-50"></i> Add new
        </a>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">User list</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>City</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of users; index as i;" (dblclick)="DbClickFunc(item.name)">
                            <td>{{i + 1}}</td>
                            <td>{{item.city}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <a class="btn btn-success btn-sm" (click)="SelectUser(item)" data-toggle="modal" data-target="#updateUser"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Add User</strong>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" [(ngModel)]="user.city" id="city" name="user.city" required placeholder="Enter city">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="user.name" name="user.name" required placeholder="Emter name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary float-right" (click)="AddNewUser()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Update User</strong>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" [(ngModel)]="updateuser.city" name="updateuser.city" disabled required placeholder="Enter city">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="updateuser.name" name="updateuser.name" required placeholder="Emter name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary float-right" (click)="UpdateUser(updateuser)">Submit</button>
            </div>
        </div>
    </div>
</div>